<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
        <%- include('./partials/sidebar.ejs',{page_name:'contact'}) %>
    </div>
    <div class="col-sm-10">
      <!-- Main Content -->
      <h1 class="text-white mt-3 st-font text-center">Contact Page</h1>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>
